html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.example::-webkit-scrollbar {
  display: none;
}


.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  height: 100%;
}


*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: none;
}


@font-face {
  font-family: 'Light';
  src: local('Bold'), url(./assets/fonts/Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Thin';
  src: local('Thin'), url(./assets/fonts/Thin.ttf) format("truetype");
}


.iphone-x {
  position: relative;
  width: 250px;
  height: 800px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}

@media (min-width: 768px) {
  .iphone-x {
    width: 320px;
    height: 600px;
  }
}

@media (min-width: 992px) {
  .iphone-x {
    width: 300px;
    height: 600px;
  }
}

@media (min-width: 1280px) {
  .iphone-x {
    width: 320px;
    height: 650px;
  }
}

.iphone-x:before,
.iphone-x:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}


.iphone-x:before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 40px 40px;

}

.iphone-x i,
.iphone-x b,
.iphone-x s,
.iphone-x span {
  position: absolute;
  display: block;
  color: transparent;
  z-index: 2;

}

.iphone-x i {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 6px);
  height: 8px;
  width: 15%;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
  z-index: 2;
}




/* ----------------------------------------- treelist stuff */

