html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  display: "none";
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: none;
}

@font-face {
  font-family: "Light";
  src: local("Bold"), url(./assets/fonts/Light.ttf) format("truetype");
}

@font-face {
  font-family: "Thin";
  src: local("Thin"), url(./assets/fonts/Thin.ttf) format("truetype");
}

.iphone-x {
  position: relative;
  width: 250px;
  height: 480px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919,
    0px 0px 0px 20px #111;
}

@media (min-width: 1266px) {
  .iphone-x {
    width: 260px;
    height: 500px;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 4px #1f1f1f, 0px 0px 0px 6px #191919,
      0px 0px 0px 10px #e6e6e6;
  }

  .iphone-x:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
  }
}

@media (min-width: 1820px) {
  .iphone-x {
    width: 370px;
    height: 680px;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 6px #1f1f1f, 0px 0px 0px 10px #191919,
      0px 0px 0px 14px #e6e6e6;
  }

  .iphone-x:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
  }
}

@media (min-width: 2460px) {
  .iphone-x {
    width: 380px;
    height: 710px;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 8px #1f1f1f, 0px 0px 0px 14px #191919,
      0px 0px 0px 18px #e6e6e6;
  }

  .iphone-x:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
  }
}
